doctype html
html
  head
    title TLytics
    link(href="/css/main.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto:300,400", rel="stylesheet")

  body
    h1 Login to twitch

    a(href="/twitch") Login
