doctype html
html
  head
    title TLytics
    link(href="/css/main.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto:300,400", rel="stylesheet")

  body
    block content
    
    
    script(src="/js/Vendor.bundle.js", type="text/javascript")
    script(src="/js/App.bundle.js", type="text/javascript")
