.Login {
  width: 22%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.Login input {
  border: 0;
  outline: 0;
  border-radius: 7px;
  width: 100%;
  font-size: 0.8em;
}

.Login input {
  padding: 1em;
}
